html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table-responsive {
    overflow-x: auto;
}

.sticky-last {
    position: sticky;
    right: -2px;
    background: var(--bs-body-bg) !important;
    z-index: 3;
    box-shadow: -6px 0 6px -6px rgba(0,0,0,.2);
    white-space: nowrap;
}

.sticky-last-header {
    z-index: 3;
}

@media (max-width: 420px) {
    .table-stacked thead {
        display: table-header-group !important;
    }

    .table-stacked tbody tr {
        display: table-row !important;
    }

    .table-stacked tbody td {
        display: table-cell !important;
    }

        .table-stacked tbody td::before {
            content: none !important;
        }
}