USE [master]
GO
/****** Object:  Database [Famer_db]    Script Date: 8/17/2025 4:38:00 PM ******/
CREATE DATABASE [Famer_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Famer_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Famer_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Famer_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Famer_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Famer_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Famer_db]
GO
/****** Object:  Table [dbo].[Farmer]    Script Date: 8/17/2025 4:38:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmer](
	[FarmerID] [int] IDENTITY(1,1) NOT NULL,
	[FarmerCode] [nvarchar](50) NOT NULL,
	[FarmerName] [nvarchar](200) NOT NULL,
	[FarmerNameEN] [nvarchar](200) NULL,
	[Address] [nvarchar](500) NULL,
	[Phone1] [nvarchar](20) NULL,
	[Phone2] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FarmerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Farmer] ON 

INSERT [dbo].[Farmer] ([FarmerID], [FarmerCode], [FarmerName], [FarmerNameEN], [Address], [Phone1], [Phone2], [CreatedAt], [UpdatedAt]) VALUES (1, N'FM10001', N'Huỳnh Phúc Tuấn', N'Farmer 1', N'Địa chỉ 1, Việt Nam', N'0936041148', N'0949273483', CAST(N'2025-08-16T21:07:36.740' AS DateTime), NULL)
INSERT [dbo].[Farmer] ([FarmerID], [FarmerCode], [FarmerName], [FarmerNameEN], [Address], [Phone1], [Phone2], [CreatedAt], [UpdatedAt]) VALUES (2, N'FM10002', N'Vũ Đức Sơn', N'Farmer 2', N'Địa chỉ 2, Việt Nam', N'0853220174', N'0906760989', CAST(N'2025-08-16T21:07:36.743' AS DateTime), NULL)
INSERT [dbo].[Farmer] ([FarmerID], [FarmerCode], [FarmerName], [FarmerNameEN], [Address], [Phone1], [Phone2], [CreatedAt], [UpdatedAt]) VALUES (3, N'FM10003', N'Đỗ Minh Trang', N'Farmer 3', N'Địa chỉ 3, Việt Nam', N'0880317223', N'0365787001', CAST(N'2025-08-16T21:07:36.743' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Farmer] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Farmer__F4EF706260A79937]    Script Date: 8/17/2025 4:38:00 PM ******/
ALTER TABLE [dbo].[Farmer] ADD UNIQUE NONCLUSTERED 
(
	[FarmerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Farmer] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE [master]
GO
